<div class="container">
  <div class="main">
    <div class="main-center">
      <h1>Registrar nuevo contacto</h1>
      <form
      [formGroup]="this.Contact"
      (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" formControlName = "name" class="form-control"
        [ngClass]="{
          'is-invalid':
          Contact.get('name').touched && Contact.get('name').errors
        }">
        <div class="invalid-feedback">
          Debe introducir un nombre
        </div>
      </div>

      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" formControlName = "email" class="form-control"
        [ngClass]="{
          'is-invalid':
          Contact.get('email').touched && Contact.get('email').invalid
        }">
        <div class="invalid-feedback">
          Debe introducir un email valido
        </div>
      </div>
      <div class="form-group">
        <label for="Email">Phone Number</label>
        <div *ngFor = "let phone of formArray.controls; index as i" formArrayName = "phoneNumber">
          <input type="tel" [formControlName]="i" class="form-control"
          [ngClass]="{
            'is-invalid':
            formArray.controls[i].invalid
          }">
          <div class="invalid-feedback">
            Debe insertar un numero de tel&eacute;fono v&acute;lido
          </div>
        </div>
        <button type="button" id="phoneButton"(click) = "AddPhoneNumber()">Add Another Phone Number</button>
      </div>
      <div class="form-group">
        <label for="Address">Address</label>
        <input type="text" formControlName = "address" class="form-control">
      </div>
      <button
          id="submitButton"
          type="submit"
          class="btn btn-primary"
          [disabled]="Contact.invalid"
        >
          <i class="fa fa-save"></i> Submit Request
        </button>
    </form>
    </div>
  </div>
</div>

