<div class="ml-5 mr-5 mt-5 ">

  <br><br>
  <hr>
  <h2 style="text-align: center;">Contactos</h2>
  <table class="table ">
      <thead class="thead-dark ">
          <tr>
              <th scope="col" style="text-align: center;">Name</th>
              <th scope="col" style="text-align: center;">Email</th>
              <th scope="col" style="text-align: center;">Phone Number</th>
              <th scope="col" style="text-align: center;">Address</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let item of contacts">
            <td style="text-align: center;">{{item.name}}</td>
            <td style="text-align: center;">{{item.email}}</td>
            <td style="text-align: center;">{{item.phoneNumber}}</td>
            <td style="text-align: center;">{{item.address}}</td>
          </tr>
      </tbody>
  </table>
</div>


